@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Roboto+Mono:ital,wght@0,700;1,400&display=swap');
.web-session{
    background-color: #191919;
    color: white;
    font-family: "Arvo";
}
.newTab,.return{
    position: absolute;
    font-size: large;
    font-weight: bold;
    border: 5px solid rgba(0, 0, 0, 0.8);
    color:  rgba(0, 0, 0, 0.8);
    padding:20px;
    margin: 20px;
    bottom:20px;
    background-color: rgba(254, 254, 254, 0.2);
    cursor:pointer;
}
.newTab:hover,.return:hover{
    font-style: italic;
}
.newTab{
     right: 0;
}
.return{
    left: 0;
}
.newTab a{
    color:  rgba(0, 0, 0, 0.8);
    font-size: large;
    font-weight: bold;
    font-display: unset;
    text-decoration: none;
}